@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply dark:bg-neutral-950 bg-white;
    }
}

*{
    box-sizing: border-box;
}

::selection{
    color: #fff;
    background-color: #ef4444;
}